{% extends "DRPlatformBundle::layout.html.twig" %}

{% block body %}
    <h1>ArtPurchase</h1>

    <table>
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ artPurchase.id }}</td>
            </tr>
            <tr>
                <th>Visualname</th>
                <td>{{ artPurchase.visualname }}</td>
            </tr>
            <tr>
                <th>Linkfile</th>
                <td>{{ artPurchase.linkfile }}</td>
            </tr>
            <tr>
                <th>Cost</th>
                <td>{{ artPurchase.cost }}</td>
            </tr>
            <tr>
                <th>Reference</th>
                <td>{{ artPurchase.reference }}</td>
            </tr>
            <tr>
                <th>Orderform</th>
                <td>{{ artPurchase.orderform }}</td>
            </tr>
            <tr>
                <th>Startdate</th>
                <td>{% if artPurchase.startdate %}{{ artPurchase.startdate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Enddate</th>
                <td>{% if artPurchase.enddate %}{{ artPurchase.enddate|date('Y-m-d H:i:s') }}{% endif %}</td>
            </tr>
            <tr>
                <th>Copy</th>
                <td>{{ artPurchase.copy }}</td>
            </tr>
            <tr>
                <th>Comment</th>
                <td>{{ artPurchase.comment }}</td>
            </tr>
            {# ajout #}
            <tr>
                <th>Type</th>
                <td>{{ artPurchase.type.name }}</td>
            </tr>
            <tr>
                <th>Folder</th>
                <td>{{ artPurchase.folder.name }}</td>
            </tr>
            <tr>
                <th>Supplier</th>
                <td>{{ artPurchase.supplier.name }}</td>
            </tr>
            <tr>
                <th>Customer</th>
                <td>{{ artPurchase.customer.name }}</td>
            </tr>
            <tr>
                <th>Area</th>
                <td>
                    <ul>
                        {% for area in artPurchase.area %}
                            <li>{{ area.country }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Support</th>
                <td>
                    <ul>
                        {% for support in artPurchase.support %}
                            <li>{{ support.name }}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
            {# fin ajout #}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dr_artpurchase_index') }}">Back to the list</a>
        </li>
        <li>
            <a href="{{ path('dr_artpurchase_edit', { 'id': artPurchase.id }) }}">Edit</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
            <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
