{% extends 'base.html.twig' %}

{% block body %}
    <h1>Ref list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Folder</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for ref in refs %}
            <tr>
                <td><a href="{{ path('dr_ref_show', { 'id': ref.id }) }}">{{ ref.id }}</a></td>
                <td>{{ ref.name }}</td>
                <td>{{ ref.folder.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dr_ref_show', { 'id': ref.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dr_ref_edit', { 'id': ref.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dr_ref_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
