{% extends "DRPlatformBundle::layout.html.twig" %}

{% block body %}
    <h1>Support list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for support in supports %}
            <tr>
                <td><a href="{{ path('dr_support_show', { 'id': support.id }) }}">{{ support.id }}</a></td>
                <td>{{ support.name }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dr_support_show', { 'id': support.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dr_support_edit', { 'id': support.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dr_support_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
